### Load libraries and data

In [35]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(
    "/Volumes/GoogleDrive/Mon Drive/USMB/MH of older workers/Data/datasets/all_waves.csv"
)
df

/var/folders/ck/3npmnx597nb730qdy5w_6kp00000gn/T/ipykernel_68665/3207282817.py:1: DtypeWarning: Columns (1,2,3,6,8,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,30,32,35,36,37,38,39,40,43,44,46,49,50,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,88,89,90,91,92,93,94,98,99,100,101,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,122,123,133,134,135,136,137,138,139,140,141,142,143,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,182,183,184,185,186,187,188,189,190,191,192,193,194,197,198,199,200,201,202,205,206,207,208,209,210,218,220,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,251,252,253,254,255,256,257,258,259,260,261,262,264,265,266,267,268,269,270,272,273,274,275,276,277,279,280,281,282,283,284,286,287,288,289,290,291,293,294,295,296,297,298,300,301,302,303,304,305,307,308,309,310,311,312,314,315,316,317,318,319,321,322,323,324,325,326,327,328,329,330,331,332,338,339,340,341,342,343,345,346,347,348,352,353,354,358,359,360,364,365,366,367,368,369,370,371,372,374,375,376,377,378,388,389,390,391,392,393,394,395,396,397,398,399,400,401,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,455,456,457,458,465,466,467,468,469,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,555,560,561,562,563,564,565,566,567,568,569,581,582,583,584,585,586,587,588,589,590,591,592,593,595,600,601,602,603,604,605,607,608,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,668,669,670,671,672,673,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,722,723,728,729,730,731,732,733,734,735,736,737,744,745,749,750,751,752,754,755,756,757,758,759,778,779,781,788,793,794,798,802,822,825,832,833,837,838,839,840,842,843,844,845,846,847,866,867,873,874,877,878,881,889,891,898,899,903,904,905,906,908,909,910,911,912,913,932,933,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,976,977,978,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1033,1034,1035,1036,1037,1038,1039,1042,1043,1044,1045,1046,1049,1050,1057,1058,1070,1071,1072,1073,1074,1078,1079,1080,1084,1085,1086,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1108,1109,1124,1125,1126,1127,1128,1129,1140,1141,1142,1143,1144,1145,1146,1147,1148,1150,1155,1156,1157,1158,1159,1160,1161,1162,1163,1166,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1182,1187,1188,1189,1190,1191,1192,1193,1195,1196,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1214,1219,1220,1221,1222,1223,1224,1225,1226,1227,1228,1230,1235,1236,1237,1238,1239,1240,1241,1242,1243,1244,1246,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1262,1267,1268,1269,1270,1271,1272,1273,1274,1275,1276,1278,1283,1284,1285,1286,1287,1288,1289,1290,1291,1292,1294,1299,1300,1301,1302,1303,1304,1305,1306,1307,1308,1310,1315,1316,1317,1318,1319,1320,1321,1322,1323,1324,1326,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340,1342,1347,1348,1349,1350,1351,1352,1353,1354,1355,1356,1358,1363,1364,1365,1366,1367,1368,1369,1370,1371,1372,1374,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1390,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1406,1411,1412,1413,1414,1415,1416,1417,1418,1419,1420,1422,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1438,1443,1444,1445,1446,1447,1448,1449,1450,1451,1452,1454,1459,1460,1461,1462,1463,1476,1477,1478,1479,1480,1481,1482,1483,1484,1486,1491,1492,1493,1494,1495,1497,1500,1512,1524,1525,1526,1527,1528,1529,1530,1531,1532,1533,1534,1544,1545,1546,1547,1548,1549,1550,1551,1552,1553,1554,1559,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1605,1606,1607,1608,1609,1610,1611,1612,1613,1614,1615,1616,1617,1618,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1646,1647,1648,1649,1650,1651,1652,1653,1654,1655,1656,1657,1658,1659,1660,1661,1662,1663,1664,1665,1666,1667,1668,1669,1670,1671,1672,1673,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,1699,1700,1701,1702,1703,1704,1705,1706,1707,1728,1729,1730,1733,1748,1749,1750,1751,1752,1753,1754,1755,1756,1757,1758,1759,1760,1761,1762,1763,1764,1765,1766,1767,1768,1769,1770,1771,1772,1773,1774,1775,1776,1789,1790,1791,1792,1793,1794,1795,1799,1800,1801,1806,1811,1812,1813,1823,1824,1825,1841,1857,1865,1866,1867,1868,1869,1870,1871,1872,1873,1874,1875,1876,1877,1878,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1934,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1954,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1974,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1994,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2014,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2034,2039,2040,2041,2042,2043,2044,2045,2046,2047,2048,2060,2061,2062,2063,2064,2065,2066,2067,2068,2080,2081,2082,2083,2084,2085,2086,2087,2088,2100,2101,2102,2103,2104,2105,2106,2107,2108,2120,2121,2122,2123,2124,2125,2126,2127,2128,2140,2141,2142,2143,2144,2145,2146,2147,2148,2160,2161,2162,2163,2164,2165,2166,2167,2168,2180,2181,2182,2183,2184,2185,2186,2187,2188,2200,2201,2202,2203,2204,2205,2206,2207,2208,2220,2221,2222,2223,2224,2225,2226,2227,2228,2240,2241,2242,2243,2244,2245,2246,2247,2248,2260,2261,2262,2263,2264,2265,2266,2267,2268,2280,2281,2282,2283,2284,2285,2286,2287,2288,2300,2301,2302,2303,2304,2305,2306,2307,2308,2320,2321,2322,2323,2324,2325,2326,2327,2328,2340,2341,2342,2343,2344,2345,2346,2347,2348,2360,2361,2362,2363,2364,2365,2366,2367,2368,2380,2381,2382,2383,2384,2385,2386,2387,2388,2400,2401,2402,2403,2404,2405,2406,2407,2408,2420,2421,2422,2423,2424,2425,2426,2427,2428,2440,2441,2442,2443,2444,2445,2446,2447,2448,2460,2461,2462,2463,2464,2487,2488,2489,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500,2501,2502,2503,2504,2505,2506,2507,2508,2510,2511,2512,2513,2514,2515,2516,2517,2518,2519,2520,2521,2522,2523,2524,2525,2526,2527,2531,2532,2533,2534,2535,2536,2537,2538,2539,2540,2541,2542,2543,2544,2545,2546,2547,2548,2549,2550,2551,2560,2561,2562,2563,2564,2565,2566,2567,2568,2569,2570,2571,2581,2582,2583,2584,2585,2586,2587,2588,2600,2601,2602,2603,2604,2605,2606,2607,2621,2622,2623,2624,2625,2626,2627,2628,2629,2630,2631,2640,2641,2642,2643,2644,2645,2646,2647,2648,2649,2650,2661,2662,2663,2664,2665,2666,2667,2680,2681,2682,2683,2684,2685,2686,2687,2688,2689,2690,2691,2692,2693,2694,2695,2696,2697,2698,2699,2700,2701,2702,2703,2704,2705,2706,2707,2708,2712,2713,2714,2715,2716,2717,2718,2719,2720,2721,2734,2735,2736,2754,2755,2756,2757,2758,2759,2760,2761,2762,2763,2764,2774,2775,2776,2777,2778,2779,2780,2781,2794,2795,2796,2814,2815,2816,2817,2818,2819,2820,2821,2822,2823,2824,2854,2874,2875,2876,2877,2878,2894,2895,2896,2897,2898,2899,2907,2909,2910,2911) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Volumes/GoogleDrive/Mon Drive/USMB/MH of older workers/Data/datasets/all_waves.csv')

,mergeid,hhid1,mergeidp1,coupleid1,country,language,adl,adl2,bmi,bmi2,...,employment,yrscontribution,yr1contribution,gender,nb_children,mbirth,yr1country,public_job,job_status,retirement_age
0,AT-011464-01,AT-011464-A,NaN,NaN,Austria,German (at),0.0,No adl limitations,24.622961044311523,18.5-24.9 - normal,...,Employed or self-employed (including working f...,34.0,1976,Male,0.0,3.0,1947.0,NaN,NaN,65.0
1,AT-017298-01,AT-017298-A,AT-017298-02,AT-017298-01-02,Austria,German (at),0.0,No adl limitations,28.086259841918945,25-29.9 - overweight,...,Employed or self-employed (including working f...,42.0,1968,Male,2.0,6.0,1943.0,NaN,NaN,65.0
2,AT-018838-02,AT-018838-A,AT-018838-01,AT-018838-01-02,Austria,German (at),0.0,No adl limitations,24.337480545043945,18.5-24.9 - normal,...,Employed or self-employed (including working f...,42.0,1965,Female,NaN,9.0,1946.0,NaN,NaN,60.0
3,AT-020412-01,AT-020412-A,AT-020412-02,AT-020412-01-02,Austria,German (at),0.0,No adl limitations,25.14285659790039,25-29.9 - overweight,...,Employed or self-employed (including working f...,46.0,1961,Male,1.0,12.0,1946.0,NaN,NaN,65.0
4,AT-020412-02,AT-020412-A,AT-020412-01,AT-020412-01-02,Austria,German (at),0.0,No adl limitations,26.1065616607666,25-29.9 - overweight,...,Employed or self-employed (including working f...,23.0,1962,Female,NaN,5.0,1948.0,NaN,NaN,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83364,SI-961836-01,NaN,NaN,NaN,Slovenia,Slovenian,0.0,No adl limitations,27.117769241333008,25-29.9 - overweight,...,Employed or self-employed (including working f...,37.0,1979,Male,2.0,5.0,1959.0,NaN,Private sector employee,64.0
83365,SI-961836-03,NaN,NaN,NaN,Slovenia,Slovenian,0.0,No adl limitations,26.703622817993164,25-29.9 - overweight,...,Employed or self-employed (including working f...,33.0,1985,Female,NaN,7.0,1960.0,NaN,Public sector employee,65.0
83366,SI-992428-02,NaN,NaN,NaN,Slovenia,Slovenian,0.0,No adl limitations,21.60410499572754,18.5-24.9 - normal,...,Employed or self-employed (including working f...,38.0,1980,Female,NaN,5.0,1956.0,NaN,Public sector employee,65.0
83367,SI-993692-01,NaN,NaN,NaN,Slovenia,Slovenian,0.0,No adl limitations,22.145328521728516,18.5-24.9 - normal,...,Employed or self-employed (including working f...,34.0,1984,Female,2.0,7.0,1960.0,NaN,Self-employed,65.0
83368,SI-994179-01,NaN,NaN,NaN,Slovenia,Slovenian,0.0,No adl limitations,26.67276382446289,25-29.9 - overweight,...,Employed or self-employed (including working f...,38.0,1979,Female,1.0,10.0,1959.0,NaN,Private sector employee,63.0

### Create datasets for wave couples

In [43]:
w12 = df[(df["wave"] == 1) | (df["wave"] == 2)].reset_index(drop=True)
w24 = df[(df["wave"] == 2) | (df["wave"] == 4)].reset_index(drop=True)
w45 = df[(df["wave"] == 4) | (df["wave"] == 5)].reset_index(drop=True)
w56 = df[(df["wave"] == 5) | (df["wave"] == 6)].reset_index(drop=True)
w67 = df[(df["wave"] == 6) | (df["wave"] == 7)].reset_index(drop=True)
w78 = df[(df["wave"] == 7) | (df["wave"] == 8)].reset_index(drop=True)

In [44]:
dataset_names = ["w12", "w24", "w45", "w56", "w67", "w78"]
dataset_names_full = ["df", "w12", "w24", "w45", "w56", "w67", "w78"]

### Calculate horizon of work and its change

### Descriprive statistics

In [62]:
# Continuous variables for df
df[["age", "yrscontribution"]].describe()

                age  yrscontribution
count  83369.000000     83369.000000
mean      56.890511        36.644364
std        3.597436         6.743767
min       50.000000        10.000000
25%       54.000000        33.000000
50%       57.000000        38.000000
75%       60.000000        41.000000
max       67.000000        56.000000

In [63]:
# Continuous variables by wave
df.groupby("wave")[["age", "yrscontribution"]].describe()

          age                                                     \
        count       mean       std   min   25%   50%   75%   max
wave
1      3559.0  54.826637  3.512926  50.0  52.0  54.0  57.0  64.0
2      9579.0  55.659568  3.438370  50.0  53.0  55.0  58.0  65.0
4     13657.0  56.208684  3.474521  50.0  53.0  56.0  59.0  64.0
5     18056.0  56.653356  3.509053  50.0  54.0  57.0  59.0  66.0
6     18253.0  57.033090  3.523084  50.0  54.0  57.0  60.0  66.0
7     16884.0  58.087538  3.337398  50.0  56.0  58.0  61.0  67.0
8      3381.0  59.823721  2.944503  50.0  58.0  60.0  62.0  67.0

     yrscontribution
               count       mean       std   min   25%   50%   75%   max
wave
1             3559.0  37.506884  7.192284  10.0  34.0  39.0  42.0  54.0
2             9579.0  36.117549  7.039575  10.0  33.0  37.0  41.0  55.0
4            13657.0  36.953064  6.884460  10.0  34.0  38.0  41.0  56.0
5            18056.0  37.367523  6.696255  10.0  34.0  38.0  42.0  56.0
6            18253.0  36.646907  6.560460  10.0  33.0  37.0  41.0  55.0
7            16884.0  36.128465  6.522231  10.0  33.0  37.0  40.0  54.0
8             3381.0  34.682638  6.404013  10.0  32.0  36.0  39.0  49.0

In [45]:
# Number of children to categoric
for dataset_name in dataset_names_full:
    dataset = globals()[dataset_name]

    dataset["nb_children"] = pd.to_numeric(dataset["nb_children"], errors="coerce")

    bin_edges = [-1, 0, 1, 2, 4, np.inf]
    bin_labels = [
        "No children",
        "1 child",
        "2 children",
        "3 or 4 children",
        "5 or more children",
    ]

    dataset["nb_children_cat"] = pd.cut(
        dataset["nb_children"], bins=bin_edges, labels=bin_labels, include_lowest=True
    )

    globals()[dataset_name] = dataset

In [ ]:
# Number of children to categoric
df["nb_children"] = pd.to_numeric(df["nb_children"], errors="coerce")
bin_edges = [-1, 0, 1, 2, 4, np.inf]
bin_labels = [
    "No children",
    "1 child",
    "2 children",
    "3 or 4 children",
    "5 or more children",
]
df["nb_children_cat"] = pd.cut(
    df["nb_children"], bins=bin_edges, labels=bin_labels, include_lowest=True
)

In [71]:
# Categoric variables for df
for var in ["gender", "nb_children_cat", "job_status"]:
    value_counts = df[var].value_counts(dropna=False)
    percentages = round((value_counts / len(df)) * 100, 2)
    print(pd.DataFrame({"Count": value_counts, "Percentage": percentages}))

        Count  Percentage
Female  42561       51.05
Male    40808       48.95
                    Count  Percentage
NaN                 37050       44.44
2 children          19733       23.67
3 or 4 children     11328       13.59
1 child              8302        9.96
No children          5755        6.90
5 or more children   1201        1.44
                         Count  Percentage
Private sector employee  22762       27.30
NaN                      18696       22.43
Employee                 16129       19.35
Public sector employee   12812       15.37
Self-employed             9421       11.30
Civil servant             3508        4.21
Don't know                  27        0.03
Refusal                     14        0.02

In [72]:
# Categoric variables by wave
for wave, group in df.groupby("wave"):
    print(f"Wave {wave} Statistics:")
    print(f"--------------------------------------")
    for var in ["gender", "nb_children_cat", "job_status"]:
        value_counts = group[var].value_counts(dropna=False)
        percentages = round((value_counts / len(group)) * 100, 2)
        print(pd.DataFrame({"Count": value_counts, "Percentage": percentages}))
    print(f"--------------------------------------")

Wave 1 Statistics:
--------------------------------------
        Count  Percentage
Male     1979       55.61
Female   1580       44.39
                    Count  Percentage
2 children           1074       30.18
NaN                  1041       29.25
3 or 4 children       622       17.48
1 child               434       12.19
No children           333        9.36
5 or more children     55        1.55
     Count  Percentage
NaN   3559       100.0
--------------------------------------
Wave 2 Statistics:
--------------------------------------
        Count  Percentage
Male     5120       53.45
Female   4459       46.55
                    Count  Percentage
NaN                  3014       31.46
2 children           2856       29.82
3 or 4 children      1598       16.68
1 child              1121       11.70
No children           844        8.81
5 or more children    146        1.52
               Count  Percentage
Employee        6527       68.14
Self-employed   1542       16.10
Civil servant   1506       15.72
Refusal            3        0.03
Don't know         1        0.01
--------------------------------------
Wave 4 Statistics:
--------------------------------------
        Count  Percentage
Female   6896       50.49
Male     6761       49.51
                    Count  Percentage
NaN                  4230       30.97
2 children           3981       29.15
3 or 4 children      2391       17.51
1 child              1603       11.74
No children          1170        8.57
5 or more children    282        2.06
               Count  Percentage
Employee        9602       70.31
Self-employed   2040       14.94
Civil servant   2002       14.66
Don't know         8        0.06
Refusal            4        0.03
NaN                1        0.01
--------------------------------------
Wave 5 Statistics:
--------------------------------------
        Count  Percentage
Female   9308       51.55
Male     8748       48.45
                    Count  Percentage
NaN                  5851       32.40
2 children           5138       28.46
3 or 4 children      3030       16.78
1 child              2172       12.03
No children          1558        8.63
5 or more children    307        1.70
                         Count  Percentage
Private sector employee  10104       55.96
Public sector employee    5403       29.92
Self-employed             2538       14.06
Don't know                   7        0.04
NaN                          4        0.02
--------------------------------------
Wave 6 Statistics:
--------------------------------------
        Count  Percentage
Female   9583        52.5
Male     8670        47.5
                    Count  Percentage
NaN                  5980       32.76
2 children           5256       28.80
3 or 4 children      2869       15.72
1 child              2339       12.81
No children          1482        8.12
5 or more children    327        1.79
                         Count  Percentage
Private sector employee   9962       54.58
Public sector employee    5751       31.51
Self-employed             2521       13.81
NaN                          7        0.04
Don't know                   6        0.03
Refusal                      6        0.03
--------------------------------------
Wave 7 Statistics:
--------------------------------------
        Count  Percentage
Female   8860       52.48
Male     8024       47.52
                    Count  Percentage
NaN                 15782       93.47
2 children            474        2.81
3 or 4 children       284        1.68
1 child               208        1.23
No children           116        0.69
5 or more children     20        0.12
                         Count  Percentage
NaN                      15124       89.58
Private sector employee    814        4.82
Public sector employee     602        3.57
Self-employed              344        2.04
--------------------------------------
Wave 8 Statistics:
--------------------------------------
        Count  Percentage
Female   1875       55.46
Male     1506       44.54
                    Count  Percentage
NaN                  1152       34.07
2 children            954       28.22
3 or 4 children       534       15.79
1 child               425       12.57
No children           252        7.45
5 or more children     64        1.89
                         Count  Percentage
Private sector employee   1882       55.66
Public sector employee    1056       31.23
Self-employed              436       12.90
Don't know                   5        0.15
NaN                          1        0.03
Refusal                      1        0.03
--------------------------------------